@use "../abstracts" as *;
@use "../utilities" as *;

body {
  font-size: 1rem;
  @include mq(small) {
    color: red;
  }
}

h1 {
  color: lime;
  background: rgb(255, 183, 0);
}

h1 {
  @include mq(small) {
    color: rgb(255, 0, 47);
    font-size: 2rem;
  }
  @include mq(large) {
    background: lime;
    font-size: 3rem;
  }
}
