$blue: rgb(0, 89, 255);

// Colors
$darkBlue: hsl(233, 26%, 24%);
$limeGreen: hsl(136, 65%, 51%);
$brightCyan: hsl(192, 70%, 51%);
$grayishBlue: hsl(233, 8%, 62%);
$lightGrayishBlue: hsl(220, 16%, 96%);
$veryLightGray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

$colors: (
  primary: (
    100: hsl(14, 100%, 80%),
    200: hsl(14, 100%, 70%),
    300: hsl(14, 100%, 60%),
    400: hsl(12, 100%, 43%),
    500: hsl(14, 100%, 20%),
  ),
  secondary: (
    100: hsl(219, 89%, 80%),
    200: hsl(219, 89%, 70%),
    300: hsl(219, 89%, 60%),
    400: hsl(212, 61%, 37%),
    500: hsl(219, 100%, 20%),
  ),
  article: (
    100: hsl(176, 66%, 70%),
    200: hsl(176, 66%, 60%),
    300: hsl(176, 66%, 40%),
    400: hsl(176, 61%, 30%),
    500: hsl(176, 66%, 20%),
  ),
  neutral: (
    100: hsl(0, 0%, 100%),
    200: hsl(0, 0%, 87%),
    300: hsl(0, 0%, 80%),
    400: hsl(0, 0%, 70%),
    500: hsl(0, 0%, 60%),
    600: hsl(0, 0%, 50%),
    700: hsl(0, 0%, 40%),
    800: hsl(0, 0%, 30%),
    900: hsl(0, 0%, 15%),
  ),
);
